# Kingfisher: MIT Licensed by Wei Wang.
# Provides easy image fetching and caching by URL.
# Supports macOS and iOS.
# Version 3.x supports Swift 3.
# Version 4.x supports Swift 4.
github "onevcat/Kingfisher" ~> 5.3
